*
{
    font-size: 1vw;
}

body
{
    background-color: lightgray;
}

header, main, footer
{
    margin: 1vw auto 1vw auto;
    background-color: gray;
    width: 60vw;
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0.25vw 0.25vw 0.25vw;
}

h1
{
    font-size: 2vw;
}

h2
{
    font-size: 1.66vw;
}

h3
{
    font-size: 1.33vw;
}

label, input
{
    margin-bottom: 0.5vw;
    border-radius: 0.25vw;
}

table
{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.1vw;
}

img
{
    border: 1px solid black;
    box-shadow: 0.05vw 0.05vw 0.05vw;
    border-radius: 0.5vw;
}
