*
{
    font-size: 1vw;
}

body
{
    background-color: lightgray;
}

header, main, footer
{
    background-color: gray;
    width: 55vw;
    margin: 1vw auto 1vw auto;
    border-radius: 1vw;
    box-shadow: 0.2vw 0.2vw 0.2vw;
    text-align: center;
}

h1
{
    font-size: 2vw;
}

h2
{
    font-size: 1.66vw;
}

h3
{
    font-size: 1.33vw;
}

.form
{
    background-color: lightgray;
    width: 17.5vw;
    margin: auto;
    padding: 0.2vw;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.1vw;
}

label, input, select
{
    margin-bottom: 0.5vw;
    border-radius: 0.25vw;
}

table
{
    background-color: lightgray;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.1vw;
}

img
{
    border: 1px solid black;
    box-shadow: 0.05vw 0.05vw 0.05vw;
    border-radius: 0.5vw;
}
